<html>
  <head>
    <title>Prateek's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Prateek's Blog</a></h1>
    </div>

    <div>
      <p>published: 18.01.2020, 08:40 AM</p>
      <h2><a href="">My first post</a></h2>
      <p>Learning how to do web designing using MY first post.</p>
    </div>

    <div>
      <p>published: 18.02.2020, 08:40 AM</p>
      <h2><a href="">My second post</a></h2>
      <p>Learning how to do web designing using MY second post.</p>
    </div>
  </body>
</html>
